#correct_paper_plane{
	font-size:20px!important;
	top:12px!important;
}
#myCarousel{
	max-width:500px;
}
#correct_list_hobby li{
	margin-left:20px;
}
span.fa.fa-arrow-right, span.fa.fa-arrow-left{
    margin-top: 80px;
}
.progress{
	max-width:320px!important;
}
.row{
	margin-left:0px!important;
	margin-right:0px!important;
}
.carousel{
	left:10%;
}
.carousel-control{
	padding-top:20%;
	color:#c1c1c1;
}
.panel{
	max-width:600px;
}
.navbar-inverse{
	background-color: #A2A2A2!important;
	border-bottom:4px solid #82C0FF!important;
	min-height:75px!important;
	padding-top:10px;
	border:none;
}

.navbar-inverse .navbar-nav>li>a{
	text-transform:uppercase;
	font-size:14px;
	font-weight:700;
	font-family:'Helvetica',sans-serif;
	color:#011010;
}
.navbar-brand{
	color:#000!important;
}

@media screen and (max-width:768px){
	#myCarousel {
	    max-width:400px;
	}
}
@media screen and (max-width:480px){
	#myCarousel {
	    max-width:200px;
	}
}