.footer{
	background-color:#a1a1a1;
}
.footer span{
	border-bottom:2px solid #fff;
	width:200px;
	color:#fff;
	font-weight:400;
	font-size:30px;
}
.footer ul{
	margin-top:30px;
}
.footer ul li {
    list-style-type: none;
    height: 30px;
    border-bottom: 1px solid #fff;
    padding: 5px 20px;
    max-width: 160px;
}
.footer ul li a{
	color:#fff;
	text-transform:uppercase;
	font-weight:700;
	padding:10px 0;
}
.icone_blocco{
    width: 300px;
    height: 45px;
    margin: 20px auto 15px;
    text-align: center;
}
.icone_blocco div i:hover,.icone_blocco div:hover{
	background-color:#455A64;
	color:#c1c1c1;
}

.icone_blocco div{
	width:45px;
	height:45px;
	/*background-color:#fff;*/
	border-radius:50%;
	border:2px solid #455A64;
	margin-right:10px;
	float: left;
}
.icone_blocco i{
	position:relative;
	top:8px;
	color: #455A64;
}
@media screen and (min-width:768px){
	#sub_block{
		padding-top:160px;
	}
}
@media screen and (max-width:480px){
	#sub_block{
		padding:30px 40px 0px;
		border-top:2px solid #818181;
	}
	#contact_correct{
		border:none!important;
	}
}
